import .NavBarContainer {
  height: 60px;
}

.Wrapper {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.Left {
  flex: 1;
  display: flex;
  align-items: center;
}

.Center {
  flex: 1;
  text-align: center;
}

.Right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Language {
  font-size: 14px;
  cursor: pointer;
}

.SearchContainer {
  display: flex;
  border: 1px solid lightgray;
  align-items: center;
  margin-left: 5px;
  border-radius: 20px;
  overflow: hidden;
}

.InputSearchContainer {
  border-color: transparent;
  flex: 1;
  overflow: hidden;
  border-radius: 20px;
}

.Logo {
  font-weight: bold;
}

.MenuItem {
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}
